@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.ck.ck-editor {
  width: 600px;
}

.ck-editor__editable {
  min-height: 400px;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.pagination-bar {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.css-121m6l1-MuiPaper-root-MuiTableContainer-root {
  background-color: #1f2a40 !important;
}
.css-h2cton-MuiPaper-root-MuiTableContainer-root {
  background-color: #f2f2f2 !important;
  font-size: 18px !important;
}

/* .css-1epr1cs-MuiButtonBase-root-MuiButton-root */

.css-1iduqq9-MuiButtonBase-root-MuiButton-root {
  color: #f2f2f2 !important;
}

.css-e8drjz {
  padding: 10px 15px !important;
}
